<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="connStr1" connectionString="server=DESKTOP-9O6E46D\SQL2019;uid=sa;password=26101959;database=Trader"/>
    <add name="connStr" connectionString="server=10.0.0.14\MSSQLSERVER2019;uid=TraderHFMobiTest;password=YgKs!a5DyIqy4jF14ePS;database=Test_Trader_Mobi"/>
    <add name="connStr4" connectionString="server=10.0.0.14\MSSQLSERVER2019;uid=HFTrader;password=SLffYOxl5fGtrijjZKcL;database=Trader"/>
    <add name="connStr2" connectionString="server=10.0.0.15\MSSQLSERVER2012;uid=sa;password=Sql1$Tr@d3rHF;database=Trader"/>
    <add name="connStr3" connectionString="server=10.0.0.12;uid=sa;password=Sql1$Tr@d3rHF;database=Trader"/>
  </connectionStrings>
</configuration>
