<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="connStr1" connectionString="server=DESKTOP-9O6E46D\SQLEXPRESS;uid=sa;password=26101959;database=Trader"/>
      <add name="connStr" connectionString="server=10.0.0.15\MSSQLSERVER2012;uid=sa;password=Sql1$Tr@d3rHF;database=Trader"/>
      <add name="Trader_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-9O6E46D\SQLEXPRESS;user id=;password=;initial catalog=Trader;Persist Security Info=true" />
        <add name="localhost_Trader_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-9O6E46D\SQLEXPRESS;user id=;password=;initial catalog=Trader;Persist Security Info=true" />
        <add name="Accounting.Properties.Settings.TraderConnectionString" connectionString="Data Source=DESKTOP-9O6E46D\SQLEXPRESS;Initial Catalog=Trader;Persist Security Info=True;User ID=sa;Password=26101959" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
