.article-list-item {
  display: block;
  margin-bottom: 1.5rem;
  @media (min-width: 992px) {
    display: flex;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $border-color;
  }
  &:last-child {
    border: none;
    margin-bottom: 2rem;
  }
  .article-list-image {
    margin-bottom: 1rem;
    @media (min-width: 992px) {
      flex: 0 0 280px;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .article-list-container {
    flex: 1;
    padding-left: 0rem;
    padding-top: 0.5rem;
    @media (min-width: 992px) {
      flex: 1;
      padding-left: 2rem;
      padding-top: 0.5rem;
    }
  }
}
.article-list-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.article-list-description {
  margin-bottom: 1rem;
}
