<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="connStr1" connectionString="server=DESKTOP-9O6E46D\SQLEXPRESS;uid=sa;password=26101959;database=Trader"/>
    <add name="connStr" connectionString="server=10.0.0.15\MSSQLSERVER2012;uid=sa;password=Sql1$Tr@d3rHF;database=Trader"/>
  </connectionStrings>
</configuration>
