<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="connStr" connectionString="server=DESKTOP-9O6E46D\SQLEXPRESS;uid=sa;password=26101959;database=Trader"/>
    <add name="connStr2" connectionString="server=10.0.0.15\MSSQLSERVER2012;uid=sa;password=Sql1$Tr@d3rHF;database=Trader"/>
    <add name="connStr1" connectionString="server=10.0.0.12;uid=sa;password=Sql1$Tr@d3rHF;database=Trader"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
