<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <section id="contact">
        <form id="form">
            <div class="container-md col-md-2 col-md-offset-5" style="padding-top: 100px;">
                <div class="form-group">
                    <a href="Login">Είσοδος</a>
                </div>
                <div class="form-group">
                    <a href="Registry">Εγγραφή</a>
                </div>

            </div>
            <div class="container-md col-md-2 col-md-offset-5" style="padding-top: 200px;">
                <label>TEST </label>
                <br /><br />
                <a href="TEST">Start</a>
                <br /><br />
                Database:
                <select name="DBTitle" class="custom-select" id="select-store">
                    <option value="TraderTest">Test DB</option>
                    <option value="Trader">Real DB</option>
                </select>
                <br /><br />
                Mode:
                <select name="DBTitle" class="custom-select" id="select-store">
                    <option value="TraderTest">Test</option>
                    <option value="Trader">Real</option>
                </select>
                <br /><br />
                <a href="/Home/Test_Hardware">Hardware</a>
                <br /><br />
                <a href="http://localhost:8091/webusersdevices">WebAPI</a>
                <br /><br />
            </div>
        </form>
    </section>
</body>
</html>


